@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500;600&display=swap');

body {
    margin: 0;
    font-family: 'Signika', sans-serif;
    background-color: white;
}

.header {
    overflow: hidden;
    background-color: black;
    padding: 20px 20% 1% 1%;
    margin: -50px 0% -1px -1px;
}

.header a {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 5px 8px 36px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;

}

#hd {
    width: 9%;
    margin: 1% -6% -58px -52%;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #09EC17;
}



@media screen and (max-width: 500px) {
    .header a {
        float: inherit;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

#bg {
    max-width: 100%;
    /* height: auto; */
    background-size: cover;
    background-position: center top;
}


/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: black;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 0px 28px 42px
}

.footer .col h1 {
    margin: 0px 0px -19px 0px;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 96px 25px 3px 0px;
    color: grey;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 16px 0px 0px -1px;
    padding: 0;
}

.footer .col ul li {
    color: white;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    padding: 21px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.footer .col ul li:hover {
    color: #1DB954;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px;
    background-color: black;
}

.social ul {
    display: flex;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0px 0% 4% 31%;
    }
}


@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }

}

.fa {
    padding: 12px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: #09EC17;
}

.fa-facebook {
    background: rgb(39 39 39);
    color: white;
}

.fa-twitter {
    background: rgb(39 39 39);
    color: white;
}

.fa-instagram {
    background: rgb(39 39 39);
    color: white;
}

.footer .contain .col-social {
    font-size: 30px;
}

#social-media {
    margin: -39px 0px 0px 0px;
    padding: 81px 0px 0px 64%;
}

#foot-img {
    width: 100%;
    margin: -17% 0% -19px -178%;
}

.footer .usa :hover {
    color: #09EC17;
}