{% extends 'base.html' %}
{% load static %}

{% block css %}

<style>
    .container {
        background-color: white;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    body {
        font-family: Circular, Helvetica, Arial, sans-serif, IosFix;


    }

    h1 {
        font-size: 42px;
        font-weight: 900;
        letter-spacing: -0.02em;
        line-height: 2.2;
    }

    .address {
        margin-bottom: 24px;
        font-style: normal;
        line-height: 1.5;
    }
</style>
{% endblock %}

{% block body %}
<br><br><br>
<main class="container">


    <div class="row g-5 mx-4">
        <div class="col-md-8">
            <h1>About Us</h1>

            <article class="blog-post">

                <p>With Spotify, it’s easy to find the right music or podcast for every moment – on your phone, your
                    computer, your tablet and more.</p>
                <p>There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working
                    out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you
                    want to listen to, or let Spotify surprise you.</p>
                <p>You can also browse through the collections of friends, artists, and celebrities, or create a radio
                    station and just sit back.</p>
                <p>Soundtrack your life with Spotify. Subscribe or listen for free.</p>

                <h1 style="font-size: 28px;">Customer Service and Support</h1>
                <ol>
                    <li><a href="https://bit.ly/3kW4Zmr" style="color: #1DB954;">Help site.</a> Check out our help site
                        for answers to your questions and to learn how
                        to get the most out of Spotify and your music.</li>
                    <li><a href="https://bit.ly/3yfBXlq" style="color: #1DB954;">Community.</a> Get fast support from
                        expert Spotify users. If there isn't already an
                        answer there to your question, post it and someone will quickly answer. You can also suggest and
                        vote on new ideas for Spotify or simply discuss music with other fans.</li>
                    <li> <a href="https://bit.ly/3zyTgP0" style="color: #1DB954;">Contact us.</a> Contact our Customer
                        Support if you don't find a solution on our
                        support site or Community.</li>
                    <li> <a href="https://twitter.com/SpotifyCares" style="color: #1DB954;">@SpotifyCares.</a> Feeling
                        sociable? Simply tweet the team and they'll do all they
                        can to help.</li>
                </ol>
                <blockquote class="blockquote">
                    <h1 style="font-size: 32px;">Or pick a topic:</h1>
                </blockquote>
                <ul>
                    <li>Advertising on Spotify? <a href="https://bit.ly/3iHnKaG" style="color: #1DB954;">Advertisers
                            section</a></li>
                    <li>Press query? <a href="https://bit.ly/3i2axdq" style="color: #1DB954;">Press section</a></li>
                    <li>Applying for a job?<a href="https://bit.ly/3eOMBZ2" style="color: #1DB954;">Jobs section</a>
                    </li>
                </ul>
                <p>Spotify USA, Inc. provides the Spotify service to users in the United States. Spotify AB provides the
                    Spotify service to users in all other markets.</p>
            </article>

        </div>


        <div class="col-md-4">
            <br><br><br><br><br><br>
            <h1 style="font-size: 28px;">Spotify HQ</h1>
            <address class="office">
                <strong>Spotify USA Inc</strong><br>
                4 World Trade Center<br>
                150 Greenwich Street, 62nd Floor<br>
                New York, NY 10007<br>
                USA<br>
                office@spotify.com
            </address>
            <article class="blog-post">
                <h1 style="font-size: 28px;">Spotify around the world</h1>
                <div class="offices-list-container">
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Belgium</strong><br>
                                Square de Meeus 37<br>
                                4th floor<br>
                                1000 Brussels<br>
                                Belgium<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify GmbH</strong><br>
                                Unter den Linden 10<br>
                                10117 Berlin<br>
                                Germany<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Canada Inc.</strong><br>
                                220 Adelaide Street West<br>
                                M5H 1W7 Toronto Ontario<br>
                                Canada<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Denmark ApS</strong><br>
                                Vestergade 27, 1 th<br>
                                1456 København K<br>
                                Denmark<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>SPOTIFY SPAIN SL</strong><br>
                                Paseo de Recoletos, 7-9<br>
                                28004 Madrid<br>
                                Spain<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Finland Oy</strong><br>
                                Merimiehenkatu 36 D<br>
                                FI-00150 Helsinki<br>
                                Finland<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify France SAS</strong><br>
                                48 Rue la Bruyère<br>
                                75009<br>
                                Paris<br>
                                France<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify India LLP</strong><br>
                                Regus 5th &amp; 6th Floor Mafatlal House (“Building”) H.T.Parekh Marg, Backbay
                                Reclamation<br>
                                Mumbai 400020<br>
                                India<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Italy S.r.l.</strong><br>
                                c/o Fintech District<br>
                                Via Filippo Sassetti 32<br>
                                20124 Milano<br>
                                Italy<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Netherlands</strong><br>
                                Singel 540 3h<br>
                                1017AZ, Amsterdam<br>
                                Netherlands<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Poland Sp. z o.o.</strong><br>
                                Warsaw Skylight Skylight Building, 14th floor<br>
                                c/o Regus<br>
                                Ul. Zlota 59<br>
                                00-120 Warszawa<br>
                                Poland<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify AB</strong><br>
                                Regeringsgatan 19<br>
                                SE-111 53 Stockholm<br>
                                Sweden<br>
                                Reg no: 556703-7485<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Ltd</strong><br>
                                Adelphi Building<br>
                                4 Savoy Place<br>
                                London WC2N 6AT<br>
                                United Kingdom<br>
                                office@spotify.com
                            </address>

                        </div>


                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Mexico</strong><br>
                                Pedregal 24 Torre Virreyes Piso 8<br>
                                Col. Molino del Rey<br>
                                DF 11040<br>
                                Mexico<br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <address class="office">
                                <strong>Spotify Israel</strong><br>
                                office@spotify.com
                            </address>

                        </div>

                    </div>
                </div>
            </article>

        </div>
    </div>

</main>
<br><br><br><br><br><br><br>
{% endblock %}